@font-face {
	font-family: 'CalligraffitiRegular';
	src: url('../fonts/Calligraffiti-webfont.eot');
	src: url('../fonts/Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/Calligraffiti-webfont.woff') format('woff'),  url('../fonts/Calligraffiti-webfont.ttf') format('truetype'),  url('../fonts/Calligraffiti-webfont.svg#CalligraffitiRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OswaldLight';
	src: url('../fonts/Oswald-Light-webfont.eot');
	src: url('../fonts/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Light-webfont.woff') format('woff'),  url('../fonts/Oswald-Light-webfont.ttf') format('truetype'),  url('../fonts/Oswald-Light-webfont.svg#OswaldLight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OswaldBook';
	src: url('../fonts/Oswald-Regular-webfont.eot');
	src: url('../fonts/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Regular-webfont.woff') format('woff'),  url('../fonts/Oswald-Regular-webfont.ttf') format('truetype'),  url('../fonts/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OswaldBold';
	src: url('../fonts/Oswald-Bold-webfont.eot');
	src: url('../fonts/Oswald-Bold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Bold-webfont.woff') format('woff'),  url('../fonts/Oswald-Bold-webfont.ttf') format('truetype'),  url('../fonts/Oswald-Bold-webfont.svg#OswaldBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OswaldStencilRegular';
	src: url('../fonts/Oswald-Stencil-webfont.eot');
	src: url('../fonts/Oswald-Stencil-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Stencil-webfont.woff') format('woff'),  url('../fonts/Oswald-Stencil-webfont.ttf') format('truetype'),  url('../fonts/Oswald-Stencil-webfont.svg#OswaldStencilRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
aside, article, section, header, footer, nav {
	display: block;
}
/* reset browser defaults */


div, h1, h2, h3, p, img, ul, li, a, input, form {
	margin: 0;
	padding: 0;
	border: none; /* fix issue with IE img border display */
}
.statcounter, script[src*="statcounter"] {
	display: none;
}
html {
	margin: 0;
	padding: 0;
	background: #D28E4F url(../imgs/background_wood.jpg);
}
body {
	position: relative;
	margin: 0 auto;
	padding: 0;
	font: 90% sans-serif, Arial, "Times New Roman";
	/*letter-spacing: .12em;*/
	background: none;
	width: 100%;
	max-width: 960px;
	border-radius: 0 0 6px 6px;
}
h1, h2, h3, h4, header h1, header .head1 a {
	font-family: 'OswaldLight', sans-serif, Tahoma;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.hiding {
	visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.notvisible {
	display: none;
}
header {
	height: 80px;
	background: rgb(80,80,80);
	background: rgba(0,0,0,0.5) no-repeat left center;/*url(../imgs/Headbackground1.jpg) rgb(100, 98, 102)*/
	background-size: 100%;
	padding-top: 0.5px;
	overflow: hidden;
	margin-bottom: 0;
	width: 100%;
}
header h1, header .head1 a, header .head1 a:visited {
	font-family: 'OswaldLight', sans-serif, Tahoma;
	font-size: 1.75em;
	line-height: 2em;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: .25em;
	float: left;
	padding-left: 0;
	padding-top: 0;
	background: transparent;/**/
	text-decoration: none;
	color: rgb(250,80,0);
	text-align: left;
	letter-spacing: 0.15em;
}
header .head1 a:hover, header .head1 a:active, header .head1 a:focus {
	color: rgb(250,80,0);
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
.reservations {
	position: absolute;
	text-align: right;
	color: #000; /*#E8B47B*/
	background:rgb(155,155,155);
	background:rgba(255,255,255,0.5);
	border-radius:0 0 0 20px;
	width: 190px;
	padding-right: .75em;
	top: 0;
	right: 0;
}
.reservations a {
	text-decoration: underline;
	color: rgb(250,250,250);
	padding: 0 5px;
}
.reservations a:hover, .reservations a:focus {
	background: rgb(64, 58, 46);
	color: rgb(250,80,0);
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
/*========================= main navigation ==========================*/








nav {
	display: block;
	position: relative;
	height: 1.75em;
	/*border-bottom:double 3px black;*/


	overflow: hidden;
	padding-top: 1em;
	padding-left: 10px;
	text-transform: capitalize;
}
#menu {
	width: 100%;
}
li#parent {
	position: relative;
}  /*----the parent for the submenu ----*/
nav ul#menu li {
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0;/*margin-right: 1em;*/
	font-size: 1em;
	text-align: center;
	z-index: 1;
}
nav ul li a, ul.sitemap li a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	width: 100%;
	padding: 8px;
}
nav ul li a:hover, nav ul li a:focus, ul.sitemap li a:hover, ul.sitemap li a:focus {
	text-decoration: none;
	background: rgba(64, 58, 46,0.8);
	color: rgb(250,80,0);
	border-radius: 0px;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
nav ul li.selected a, .left ul.sitemap li.selected a {
	cursor: default;
	background: rgb(64, 58, 46);
	background: rgba(64, 58, 46,0.8);
	color: rgb(250,80,0);
	border-radius: 0px;
}
.sitemap{list-style: none inside none;}
/*======================== submenu ===========================*/


ul.submenu {
	display: block;
	position: absolute; /*    parent - the list item   */
	left: 9999px;       /* hide submenu by indenting far off screen*/
	top: 21px;
	width: 170px;
	margin: 0;
	z-index: 2;
}
.submenu li {
	float: left;
}
.submenu li a {
	line-height: 0.35em;
	text-align: left;
	width: 100%;
	text-decoration: none;
	text-transform: none;
}
.submenu li:first-child a {
	margin-top: 10px;
	padding-top: 5px;
}
li#parent:hover > ul, .submenu:hover, .submenu:focus, li#howto:focus > ul {    /*show submenu on hover*/
	left: 0;
}
li#parent ul.submenu li a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
li#parent ul.submenu li a:hover, li#howto ul.submenu li a:focus {
	color: rgb(200,0,0);
	text-decoration: underline;
	cursor: pointer;
}
li#parent ul.submenu li.selected a {
	color: rgb(200, 0, 0);
	cursor: default;
	text-decoration: underline;
}
li#parent a#special:hover, li#howto a#special:focus {    /* when in submenu,this link appear as active on hover*/
	cursor: pointer;
	color: rgb(200,0,0);
	text-decoration: underline;
}
/*======================== breadcrumbs =================================*/


ul#breadcrumbs {
	position: absolute;
	top: -1em;
	left: .75em;
	margin: 48px 0 0 0;
	font-size: 0.85em;
	letter-spacing: 0.075em;
	text-transform: none;
	color: rgb(0, 0, 0);
	z-index: 2;
}
ul#breadcrumbs li {
	display: block;
	float: left;
}
ul#breadcrumbs li.first a {
	display: block;
	height: 16px;
	margin-right: 5px;
}
ul#breadcrumbs li.first a:hover, ul#breadcrumbs li.first a:focus {
	width: 60%;
	background: rgb(64, 58, 46);
	color: white;
	border-radius: 1px;
}
ul#breadcrumbs li a {
	margin-right: 5px;
	text-decoration: underline;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.accessible {
	visibility: hidden;
}
.accessible:focus {
	visibility: visible;
}
/* =========================== home page styles ========================= */


.homepage, .hometext {
	width: 100%;
	position: relative;
	clear: left;
}
h1, h2, h2.first {
	width: 99%;
}
.ohours{background:#fff;width:320px;margin:0 auto;}
#gallery {
	background: transparent /*url(../imgs/tsarevets_winter2.jpg) no-repeat center*/;
	background-size: cover;
	padding: 30px 0;
}
.homewindow {
	display: -moz-inline-stack; /* fix for FF2  which doesn't support inline-block*/
	display: inline-block;
	zoom: 1;           /* fix for IE7 which doesn't support inline-block*/
 *display: inline;  /* fix for IE7 which doesn't support inline-block*/
	width: 42%;
	vertical-align: top;
	margin: 1em auto;
	padding: 1em;
	background: rgb(200,200,200);
	background: rgba(200,200,200,0.5);
}
.homewindow img, .homewindow p {
	margin: 0 auto;
}
.container {
	width: 100%;
	margin: 0 auto;
}
/*========================Home page gallery=================================*/


#photos {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}
#photos img {
	display: block;
	/**/display: none;
	width: 100%;
	margin: 0 auto;
}
#photos img.show {
	display: block;
	margin: 0 auto;
}
/*======================== 2 column layout ==============================*/





section {
	width: 300px;
	float: left;
	margin-left: 1em;
	padding: 0;
}
h1, h2, h3, h4, h5 {
	padding: 5px;
	margin: 5px 5px 5px 0;
	text-align: center;
	background: none;/*rgb(0,169,157)*/
	color: black;
	word-wrap: break-word;
}
/*============================ image preview jquery =======================================*/


.dg-picture-zoom {
	cursor : url(http://www.dhtmlgoodies.com/scripts/picture-zoom/cursors/magnify-plus.cur), pointer !important;
}
#overlayimg {
	cursor : url(http://www.dhtmlgoodies.com/scripts/picture-zoom/cursors/magnify-minus.cur), pointer !important;

}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.9) url(../code/images/loader.gif) no-repeat center;/*url(../code/images/loader.gif)*/
	
}
#container {
	margin: 5% auto;
	max-width: 960px;
}
#overlayimg {
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 960px;
	max-height: 640px;
}
#clicktoreturn {
	position: absolute;
	z-index: 2;
	left: 40%;
	top: 45%;
	width: 217px;
	height: 67px;
	background: rgba(255,255,255,0) url(../imgs/clicktoreturn.png) no-repeat center center;
}
#overlay .description {
	color: #fff;
	display: block;
	background: rgba(0,0,0,0.5);
	text-transform: uppercase;
	text-align: center;
	padding: 1em;
	position: absolute;
	margin: 0 auto;
	top: 5%;
	left: 10%;/**/
	max-width: 80%;
	word-wrap: break-word;
}
 @media only screen and (min-width:1281px) and (max-width:1920px) {
#overlay .description {
	top: 1%;
	left: 40%;
}
#clicktoreturn {
	left: 45%;
	top: 45%;
}
.bottom_footer {
	display: block;
	margin: 0 auto;
	width: 90%;
	clear: both;
}
}
 @media only screen and (min-width:961px) and (max-width:1280px) {
#overlay .description {
	top: 8%;
	left: 12%;
}
}
#overlay .description {
}
/*============================ menu ========================================*/

.offer{text-align:center;background:rgb(255,255,255);background:rgba(255,255,255,.50);font:italic .9em  Helvetica,serif;}
.offer a:hover{background:none;}
.offer a img{vertical-align:bottom;}
.menusubtitle {
	background: rgb(100,100,100);
	background: rgba(0,0,0,0.5);
	cursor: pointer;
	text-decoration: underline;
	color: rgb(200,200,200);
}
.menusubtitle:hover {
	color: rgb(250,80,0);
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
	-webkit-transform: translateZ(0); /* FORCE MOBILE DEVICE TO ENABLE 3D ACCELARATION FOR ANIMATION */
	-o-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
}
#foodmenu div {
	width: auto;
	margin: 0 auto;
	padding: 5px 5px;
}
.important {
	font-size: small;
	color: #f00;
	text-align: center;
}
.dg-picture-zoom {
	margin-right: 5px;
	-webkit-box-shadow: 3px 3px 3px rgb(250,80,0);
	-moz-box-shadow: 3px 3px 3px rgb(250,80,0);
	box-shadow: 3px 3px 3px rgb(250,80,0);
}
.food {
	float: left;
}
.description {
	display: block;
	text-transform: capitalize;
	max-width: 140px;
	overflow:hidden;
	text-overflow:ellipsis;
	font:bold 0.65em Verdana, Geneva, sans-serif;
	letter-spacing: 0.025em;
}
.price{font:.85em Verdana, Geneva, sans-serif;}
div>p {
	clear: both;
}
/*============== left column ================*/


.left {
	float: left;
	background: none;
	color: rgb(0, 0, 0);
	line-height: 1.75em;
}
.left {
	position: relative;
	width: 70%;
	margin: 0 1%;
}
.left iframe {
	margin: 0 1%;
	width: 98%;
	border: none;
}
.left a {
	text-decoration: underline;
	color: rgb(25,25,25);
	font-style: italic;
	padding: 5px;
}
.left small a:hover, .left small a:focus, .left small a:active {
	background: rgb(64, 58, 46);
	color: rgb(250,80,0);
	border-radius: 2px;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
h4 + p {
	margin-left: 0.5em;
}
p {
	margin: 5px auto;
}
/*================================= right column ==========================================*/


.right {
	float: left;
	width: 28%;
}
.right p {
	line-height: 1.5em;
}
/*==================================== form styles =========================================*/


form label {
	font-family: 'Lucida Calligraphy', 'Lucida Handwriting', 'CalligraffitiRegular', Verdana;
	font-weight: 600;
	margin: 0em;
}
.form {
	margin: 0 auto;
	width: 100%;
}
.formentry {
	width: 44%;
	margin: 1em 0 1em 1em;
	float: left;
	padding: 1em;
	background: none;
	-webkit-box-shadow: 0 0 8px 1px #000;
	-moz-box-shadow: 0 0 8px 1px #000;
	box-shadow: 0 0 8px 1px #000;
}
input {
	padding: .35em;
	margin-top: 0.5em;
	background: rgb(64, 58, 46);
	color: #fff;
	font: 'Lucida Calligraphy', 'Lucida Handwriting', 'CalligraffitiRegular', Verdana;
	-webkit-box-shadow: inset 0 0 5px #000;
	-moz-box-shadow: inset 0 0 5px #000;
	box-shadow: inset 0 0 5px #000;
}
textarea, select {
	padding: 0.355em;
	margin-top: 0.375em;
	background: rgb(64, 58, 46);
	color: #fff;
	border: none;
}
textarea {
	width: 98%;
}
option {
	margin-bottom: .6em;
	background: rgb(64, 58, 46);
	color: #fff;
}
select option:hover, select option:focus {
	background-color: rgb(250,80,0);
}
.clearfix {
	width: 100%;
	height: 1px;
	display: block;
	clear: both;
	visibility: hidden;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	width: 100%;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
input#subscription {
	margin-left: 2em;
}
input#submit {
	font-family: 'Lucida Calligraphy', 'Lucida Handwriting', 'CalligraffitiRegular', Verdana;
	font-weight: 600;
	background: #ddd;
	color: #333;
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	padding: 7px;
	margin: 1em 0 2em 1em;
}
#submit:hover, #submit:focus {
	color: rgb(250,80,0);
	background: rgb(64, 58, 46);
	-webkit-box-shadow: 0 0 15px #bbb;
	-moz-box-shadow: 0 0 15px #bbb;
	box-shadow: 0 0 15px #bbb;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
section.form1 {
	margin-bottom: -5em;
}
.book-right {
	float: right;
	width: 55%;
	margin: 2em 1.5em 0 0;
}
.submition_results {
	width: 100%;
	padding: .75em .15em;
}
.submition_results ul {
	list-style: none;
	padding: 1em;
	list-style-position: inside;
}
.annotation {
display:inline-block;
padding:5px;
	color: #fff;
	font-size: large;
	background:#403A2E;
}
.annotation2 {
display:inline-block;
padding:1px;margin:0;
	color: #000;
	font: bold 1.25em sans-serif, Arial, 'Times New Roman';
}
.annotation a{color: #bbb;}
.addinfo {
	width: 100%;
	margin: 0 0.5em 1em 0;
	padding: 0.5em;
	letter-spacing: .08em;
	background: #CFCFCF;
}

/*===================================== side banner styles==========================================*/
.left_banner{
	background:#ddd url('../imgs/offers-blue.png') no-repeat center left;
	width:210px;
	border-radius:5px;
	font-family:'Lucida Sans Unicode',Helvetica;
	font-size:.9em;
	color:#006C90;
	z-index:99;
	display:none;
}	
.open{
	background:transparent url('../imgs/Forward-Arrow1.png') no-repeat top left;
	background-size:contain;
	border-radius:5px;
	width:3em;height:1.75em;
	display:none;
}
.close{
	background:transparent url('../imgs/Forward-Arrow-right.png') no-repeat top left;
	background-size:contain;
	border-radius:5px;
	width:3em;height:1.75em;
	display:none;
}
.open:hover,.close:hover{cursor:pointer;}
.left_banner img,.left_banner p{padding:0  0 0 2em;}	
.left_banner h3{text-align:center;font-size:1.1em;}
.left_banner p{font-size:.8em;}

/*==================================== footer styles =======================================*/


footer {
	clear: both;
	overflow: auto;
	height: 50px;
	padding: 20px 10px 0 10px;
	margin-top: 2em;
	margin-bottom: 0;
	background:#490D00;
	background: rgb(100,100,100);
	background: rgba(0,0,0,0.5); /*rgb(220, 220,240)rgb(100, 98, 102)*/
	color: #E6B17B;
	border-top: double 3px rgb(64, 58, 46);
	/*border-radius:0 0 10px 10px;*/


	position: relative;
	overflow: hidden;
}
footer p {
	float: left;
	text-align: center;
	color: #E6B17B;
}
footer p .companyf {
	color: #E6B17B;
	font-family: 'Lucida Calligraphy', 'Lucida Handwriting', 'CalligraffitiRegular', Georgia;
}
p a, footer a {
	text-decoration: underline;
	color: #fff;
	font-style: italic;
	padding: 5px;
}
p a:hover, p a:focus, p a:active, footer a:hover, footer a:focus, footer a:active {
	background: rgb(64, 58, 46);
	color: rgb(250,80,0);
	border-radius: 2px;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
/* ========================= tweeter and facebook links ==============================*/


footer a#tw, footer a#fb {
	text-decoration: none;
}
footer a#tw:hover, footer a#fb:hover, footer a#tw:focus, footer a#fb:focus {
	background: none;
}
.small {
	font-size: .9em;
	float: right;
}
footer div#gplus1 {
	position: absolute;
	left: 32em;
	top: 1.6em;
}
.bottom_footer {
	display: block;
	float: none;
	margin: 0 auto;
	width: 90%;
	clear: both;
}
.bottom_footer a {
	display: inline;
}


/* ========================= tablet 768px width ==============================*/
/* ========================= tablet 768px width ==============================*/
/* ========================= tablet 768px width ==============================*/
/* ========================= tablet 768px width ==============================*/


@media only screen and (min-width:481px) and (max-width:768px) {
body {
	width: 100%;
	margin: 0 auto;
}
.offer{padding:.5em 0;}
/* ========================= home page ==============================*/


.homewindow {
	display: -moz-inline-stack; /* fix for FF2  which doesn't support inline-block*/
	display: inline-block;
	zoom: 1;           /* fix for IE7 which doesn't support inline-block*/
 *display: inline;  /* fix for IE7 which doesn't support inline-block*/
	width: 42.5%;
	margin: 0.15em auto;
	padding: 1em;
	text-align: center;
}
.homewindow:first-child, .homewindow:nth-child(3) {
	margin-left: 0.5em;
}
/*========================Home page gallery=================================*/


#photos {
	width: 90%;
	margin: 0 auto;
}
#photos img {
	display: block;
	display: none;
	width: 100%;
	margin: 0 auto;
}
#photos img.show {
	display: block;
	width: 100%;
	margin: 0 auto;
}
/* ========================= left-right ==============================*/


.left, .right, section {
	font-size: 0.9em;
	float: none;
	margin: 0 auto;
}
.left, .right {
	width: 98%;
	margin: 0 1%;
}
/*============================ image preview jquery url(../code/images/loader.gif)=======================================*/


#overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.9) url(../code/images/loader.gif) no-repeat center;/*url(../code/images/loader.gif)*/
}
#container {
	margin: 2% auto;
}
#overlayimg {
	display: block;
	margin: 0 auto;
	width: 80%;
	max-height: 480px;
}
#clicktoreturn {
	position: absolute;
	z-index: 2;
	left: 30%;
	top: 30%;
	width: 217px;
	height: 67px;
	background: rgba(255,255,255,0) url(../imgs/clicktoreturn.png) no-repeat center center;
}
/* ========================= form ==============================*/


.form {
	margin: 0 auto;
	width: 100%;
}
.formentry {
	width: 90%;
	margin: 1em;
	float: none;
	padding: 1em;
	background: none;
}
#submit {
	margin-left: 1em;
}
section.form1 {
	margin: 0 auto;
	margin-bottom: -6em;
}
.book-right {
	float: none;
	margin: 0 auto;
	width: 90%;
}
/* ========================= footer ==============================*/


footer {
	height: 80px;
	position: relative;
}
footer p, footer .small {
	float: none;
	clear: both;
	font-size: 0.85em;
	padding: 0 0 5px 0;
	margin: 0 auto;
}
footer div#gplus1 {
	position: absolute;
	left: 50%;
	top: .25em;
}
.bottom_footer {
	display: block;
	margin: 0 auto;
	width: 90%;
	clear: both;
}
}


/*================================== iPhone 4 - @media all (min-width:481px) and (max-width:768px) and (orientation:portrait) =================================*/


@media all and (min-width:481px) and (max-width:768px) and (orientation:portrait) {
#container {
	margin: 25% auto;
}
#overlayimg {
	display: block;
	margin: 0 auto;
	width: 90%;
}
#clicktoreturn {
	position: absolute;
	z-index: 2;
	left: 35%;
	top: 45%;
	width: 217px;
	height: 67px;
	background: rgba(255,255,255,0) url(../imgs/clicktoreturn.png) no-repeat center center;
}
#overlay .description {
	top: 20%;
}
}
 @media all and (min-width:481px) and (max-width:768px) and (orientation:landscape) {
#overlay .description {
	left: 10%;
}

}


/*================================== iPhone 4 - @media all and (device-aspect-ratio: 2/3), (max-width: 480px)==================================*/


/*================================== iPhone 4 - @media all and (device-aspect-ratio: 2/3), (max-width: 480px)==================================*/


/*================================== iPhone 4 - @media all and (device-aspect-ratio: 2/3), (max-width: 480px)==================================*/


@media screen and (max-width: 480px) {
div, h1, h2, h3, p, img, ul, li, a, input, form, .left, .right {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #D28E4F url(../imgs/background_wood.jpg);/* url(images/doors/md4400k.jpg) repeat  */
}
body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	min-width: 320px;
	border-radius: 0 0 20px 20px;
	overflow-x: hidden;
}
header {
	height: 60px;
	background: transparent;
	background: transparent rgba(0,0,0,0.5) no-repeat left center;
	/*url(../imgs/Headbackground1.jpg)*/background-size: cover;
}
header h1, header p.head1 a, header p.head1 a:hover, header p.head1 a:visited {
	margin: 0;
	padding: 0 0 0 2%;/**/
	font-size: 1.25em;
	line-height: 5.15em;
	text-align: left;
	text-decoration: none;
}
.ohours{background:#fff;width:320px;margin:0 auto;padding:0.3em 0;}
.reservations {
	font-size: smaller;
	width: 60%;
	padding-left: 5px;
	background: rgb(200,200,200);
	background: rgba(200,200,200,0.7);
	border-radius: 0 0 0 30px;
	line-height: 1.5em;
}
.reservations p {
	white-space: nowrap;
}
nav {
	font-size: 1em;
	height: 1.7em;
	margin-left: 0;
	padding-left: 0;
}
nav ul#menu li {
	margin: 0;
	font-size: .9em;
	padding: 0;
}
nav ul#menu li a {
	margin: 0;
	padding: 6px;
}
ul#breadcrumbs {
	top: -2em;
}
.homepage h2.first {
	font-size: 1.25em;
}
.description {
	font-size: 0.65em;
}
/*========================Home page gallery=================================*/


#photos {
	width: 95%;
	margin: 0 auto;
}
#photos img {
	display: block;
	display: none;
	width: 100%;
	margin: 0 auto;
}
#photos img.show {
	display: block;
	width: 100%;
	margin: 0 auto;
}
/*============================ image preview jquery url(../code/images/loader.gif)=======================================*/





#overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.9) url(../code/images/loader.gif) no-repeat center;/*url(../code/images/loader.gif)*/
}
#container {
	margin: 10% auto;
}
#overlayimg {
	display: block;
	margin: 0 auto;
	width: 90%;
}
#clicktoreturn {
	position: fixed;
	z-index: 2;
	left: 17%;
	top: 40%;
	width: 217px;
	height: 67px;
	background: transparent;
	background: rgba(255,255,255,0) url(../imgs/clicktoreturn.png) no-repeat center center;
}
/*================================= left/right column ==========================================*/


.left, .right, section {
	font-size: 0.85em;
	float: none;
	margin: 0 auto;
}
.left, .right {
	width: 98%;
	margin: 0 1%;
}
/*================================= menu page ==========================================*/

.offer{padding:.5em 0;}
.menusubtitle {
	padding: 8px 0;
	margin: 5px 0;
}
h1 {
	font-size: 1.7em;
}
h2 {
	font-size: 1.2em;padding:.25em 0 0 0;
}
h3 {
	font-size: 1.1em;
}
h4 + p {
	margin-left: 0.5em;
}

/*================================= form ==========================================*/


.form {
	margin: 0 auto;
	width: 100%;
}
.formentry {
	width: 90%;
	margin: .5em;
	float: none;
	padding: .75em;
	background: none;
}
#submit {
	margin: 0.75em;
}
input {
	line-height: 2em;
}
/*================================= footer ==========================================*/


footer {
	height: 90px;
	position: relative;
}
footer p, footer .small {
	float: none;
	clear: both;
	font-size: 0.75em;
	padding: 0 0 5px 0;
	margin: 0 auto;
}
footer div#gplus1 {
	position: absolute;
	left: 45%;
	top: .15em;
}
.bottom_footer {
	display: block;
	margin: 0 auto;
	width: 90%;
	clear: both;
}

#main + h2,h2 + h3{margin-bottom:.35em;}
}


/*================================== iPhone 4 - @media handheld and (orientation:portrait)==================================*/


@media all and (max-width: 480px) and (orientation:portrait) {
#container {
	margin: 30% auto;
}
#overlayimg {
	display: block;
	margin: 0 auto;
	width: 95%;
	max-height: 480px;
}
#overlay .description {
	top: 5%;
	left: 1%;
	font-size: smaller;
}
h1 {
	font-size: 1.7em;
}
h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1.1em;
}
}
 @media all and (max-width: 480px) and (orientation:landscape) {
#container {
	margin: 0 auto;
}
#overlayimg {
	display: block;
	margin: 0 auto;
	width: 95%;
	max-height: 320px;
}
#overlay .description {
	top: 1%;
	left: 5%;
	font-size: smaller;
}
h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.1em;
}
h3 {
	font-size: 1em;
}
}


/*================================== iPhone 4 - @media all and (device-aspect-ratio: 2/3), (max-width: 320px)==================================*/


/*================================== iPhone 4 - @media all and (device-aspect-ratio: 2/3), (max-width: 320px)==================================*/





@media screen and (max-width: 320px) {
header {
	background-size: cover;
}
.reservations {
	font-size: smaller;
	width: 67%;
	background: rgb(200,200,200);
	background: rgba(200,200,200,0.7);
	border-radius: 0 0 0 30px;
	line-height: 1.5em;
}
header h1, header p.head1 a, header p.head1 a:hover, header p.head1 a:visited {
	text-align: left;
}
}





/*================================== Samsung Galaxy S - @media all and (device-aspect-ratio: 3/5) ==================================*/


@media all and (device-aspect-ratio: 3/5) {
}





/*================================== iPad - @media all and (device-aspect-ratio: 3/4) ==================================*/


@media all and (device-aspect-ratio: 3/4) {
}











/*================================== printer properties ==================================*/





@media print {
html, body {
	color: black;
	background: white;
}
nav ul#menu, .reservations {
	display: none;
}
}
